<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tnrkd.colormakey">

    <!-- 사진을 외장 메모리에 저장하기 위해서 외장 USB에 쓰기 권한 요청 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ColorMakey"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <!-- 카메라 사용을 사용자에게 알림 -->
        <activity android:name=".MainActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".HomeMenuActivity"/>
        <activity android:name=".RemixerActivity"/>
        <activity android:name=".RemixerPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity android:name=".MixerActivity"/>
        <activity android:name=".MixerPopupActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity android:name=".PaletteActivity"/>
    </application>

</manifest>

